body {
  background-color: #d8e3e7;
}



h1 {
  color: #126e82;
}



h3 {
  color: #126e82;
}


hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
